## [Start] Setting "machtiging" to default value of "false". **
$util.qr($context.args.input.put("machtiging", $util.defaultIfNull($ctx.args.input.machtiging, false)))
## [End] Setting "machtiging" to default value of "false". **
{}